// FONTS
$font-regular: "Montserrat-Regular";
$font-medium: "Montserrat-Medium";
$font-bold: "Montserrat-Bold";



// COLORS
$color-primary: #D92D20;
$color-black: #000000;
$color-gray: #80858A;
$color-blue: #40566D;
$color-white-smoke: #F1F1F1;
$color-white: #FFFFFF;